{% extends "Usuarios/HeaderAndFooterFachada.html" %}

{% block title  %}  Agregar Tutor {% endblock %}

{% block body %}
    <section style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card border-top border-bottom border-4" style="border-color: #F08200 !important;">
                        <div class="card-body p-5">
                            <h3 class="fw-bold mb-5 text-primary">Agregar Tutor</h3>

                            <!--No h¿sabia si tenia que meter un imput para el id asi que lo puse por si las dudas xdd
                            
                            <div class="form-outline mb-4">
                                <input type="number" class="form-control" value="" />
                                <label class="form-label">Id</label>
                            </div>
                            -->
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" class="form-control" value="" />
                                        <label class="form-label">Nombre(s)</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" class="form-control" value="" />
                                        <label class="form-label">Apellidos</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Text input -->
                            <div class="mb-4">
                                <select class="form-select">
                                    <option selected>Cordinacion</option>
                                    <option value="1">Ingeneria en Computacion</option>
                                    <option value="2">Matematicas Aplicadas</option>
                                </select>
                            </div>

                            <!-- Numero de Economico input -->
                            <div class="form-outline mb-4">
                                <input type="number" class="form-control" value="" />
                                <label class="form-label">Numero Economico</label>
                            </div>

                            <!-- Cubiculo input -->
                            <div class="form-outline mb-4">
                                <input type="number" class="form-control" value="" />
                                <label class="form-label">Cubiculo</label>
                            </div>

                            <!-- Tema de la tutoria input -->
                            <div class="form-outline mb-4">
                                <input type="text" class="form-control" value=""/>
                                <label class="form-label">Correo</label>
                            </div>

                            <!-- Contraseña input-->
                            <div class="form-outline mb-4">
                                <input type="text" class="form-control" value=""/>
                                <label class="form-label">Contraseña</label>
                            </div>


                            <!-- Submit button -->
                            <div class="d-grid gap-2 d-md-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-primary">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
{% endblock %}