<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title  %}  {% endblock %} </title>
    <link rel="icon" href="../img/icon.jpg" sizes="32x32" type="image/png">
    <!-- Bootstrap CDN Bundle with Popper-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <!--Link CSS-->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-secondary p-2">
        <!-- Container -->
        <div class="container-fluid">
            <!--Boton Toggle-->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand m-0 p-0" href="#">
                    <img src="../img/logovariacion2.png" height="55" loading="lazy" />
                </a>

                <!-- Izquierda links -->

                <!--Cambia lista-->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="#">Solicitar tutoria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="#">Tutorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="#">Editar Tutorias</a>
                    </li>
                </ul>
             
                <!-- Izquierda links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Derecha elementos -->
            <div class="d-flex align-items-center">
                <!-- Icons -->
                <!-- Notificaciones -->
                <div class="dropdown">
                    <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                        role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-message text-primary"></i>
                        <span class="badge rounded-pill badge-notification bg-primary">10</span>
                    </a>
                </div>
                <!-- Avatar -->
                <div class="dropdown">
                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                        id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="30"
                            alt="" loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item" href="{ url 'perfil' }">Mi perfil</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Configuraciones</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

<!--  Inicia el body -->
<div class="container py-5">

    {% block body %}

    {% endblock %}

</div>
    

<!-- Footer -->
<footer class="bg-secondary text-center text-primary">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-primary btn-floating m-1" href="https://www.facebook.com/UAMUnidadCuajimalpa1" role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-primary btn-floating m-1" href="https://twitter.com/uamcuajimalpa" role="button"><i
                    class="fab fa-twitter"></i></a>

            <!-- Youtube -->
            <a class="btn btn-outline-primary btn-floating m-1" href="https://www.youtube.com/channel/UCeqAccBtLAr-pOeOUoE4iDw" role="button"><i
                    class="fab fa-youtube"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-primary btn-floating m-1" href="https://www.instagram.com/uamcuajimalpa/" role="button"><i
                    class="fab fa-instagram"></i></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Text -->
        <section class="mb-4">
            <h4>Universidad Autónoma Metropolitana Cuajimalpa</h4>
            <h5>División de Ciencias Naturales e Ingeniería</h5>
        </section>
        <!-- Section: Text -->

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div id = "copyright" class="text-center p-3">
        © 2023 Copyright: 
        <a class="text-primary" href="">GCC</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Fin Footer -->
<!--Scrip MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
</body>

</html>