{% extends "Usuarios/base.html" %}

{% block navbar %}
    
<li class="nav-item"><a class="nav-link text-primary" 
    href="{% url 'Tutores-list' %}" >Tutores</a></li>

<li class="nav-item"><a class="nav-link text-primary" 
    href="{% url 'crear-alumno' %}" >Registrar alumno</a></li>

<li class="nav-item"><a class="nav-link text-primary" 
    href="{% url 'crear-cordinador' %}" >Registrar cordinador</a></li>

<li class="nav-item"><a class="nav-link text-primary" 
    href="{% url 'crear-tutor' %}" >Registrar tutor</a></li>

{% endblock %}