{% extends "Usuarios/perfil_base.html"%}

{% block title  %} Perfil Tutor {% endblock %}




{% block perfil %}
<div class="card border-top border-bottom border-4" style="border-color: #F08200 !important;">
<div class="row g-0">
  <div class="col-md-4 gradient-custom text-center my-4"
    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
    {% load static %}
    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="" class="img-fluid shadow-2-strong mt-4 mb-2"
      style="width: 150px; height: 150px; object-fit: cover; z-index: 1" />
    <h5 class="text-black">{{ tutor.first_name }}</h5>
    <h5 class="text-black">{{ tutor.last_name }}</h5>
    <p class="text-primary">{{ tutor.get_coordinacion_display }}</p>
    <a href="#!"><i class="far fa-edit fa-lg"></i></a>
  </div>
  <div class="col-md-8">
    <div class="card-body p-4">
      <h5>Datos Personales</h5>
      <hr class="mt-0 mb-4">
      <div class="row pt-1">
        <div class="col-6 mb-3">
          <h6>Correo institucional</h6>
          <p class="text-muted">{{ tutor.email }}</p>
        </div>
        <div class="col-6 mb-3">
          <h6>Correo personal</h6>
          <p class="text-muted">{{ tutor.correo_personal }}</p>
        </div>
        <div class="col-6 mb-3">
          <h6>Número económico</h6>
          <p class="text-muted">{{ tutor.matricula }}</p>
          
        </div>
      </div>
      <hr class="mt-0 mb-4">
      <div class="row pt-1">
        <!-- <div class="col-6 mb-3">
          <h6>Fecha de nacimiento</h6>
          <p class="text-muted">30/09/2000</p>
        </div> -->
        <!-- <div class="col-6 mb-3">
          <h6>Coordinación</h6>
          <p class="text-muted">{{ tutor.coordinacion }}</p>
        </div> -->
        <!-- <div class="col-6 mb-3">
          <h6>Trayectoria Academica</h6>
          <p class="text-muted">Subir trayectoria</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
        