{% extends "Usuarios/HeaderAndFooterFachada.html" %}

{% block title %} Tutorias Coda {% endblock %}

{% block body %}
<!--Ver Tutorias-->
<section class="min-vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-12">
          <div class="card border-top border-bottom border-4" style="border-color: #F08200 !important;">
            <div class="card-body p-4">
              <h3 class="fw-bold mb-4 text-primary">Tutorias dadas por: {{tutor.first_name}} {{tutor.last_name}}</h3>
  
                  <!--Inicio de table-->
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Alumno</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Tema</th>
                                <th>Observaciones</th>
                                <th>Reporte tutoria</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tutoria in object_list %}
                            <tr data-alumno="{{ tutoria.alumno.first_name }} {{ tutoria.alumno.last_name }}">
                                <td>{{ tutoria.alumno.first_name }} {{ tutoria.alumno.last_name }}</td>
                                <td>{{ tutoria.fecha|date }}</td>
                                <td>{{ tutoria.fecha|date:"P" }}</td>
                                <td>{{ tutoria.get_tema_display}}</td>
                                <td>{{ tutoria.descripcion}}</td>
                                <td>
                                  <form class="form-inline" method="post" action="{% url 'generar_txt' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="tutor" value="{{tutor.first_name}} {{tutor.last_name}}">
                                    <input type="hidden" name="alumno" value="{{ tutoria.alumno.first_name }} {{ tutoria.alumno.last_name }}">
                                    <input type="hidden" name="fecha" value="{{ tutoria.fecha |date}} a las {{ tutoria.fecha|date:"P" }}">
                                    <input type="hidden" name="tema" value="{{ tutoria.get_tema_display }}">
                                    <input type="hidden" name="descripcion" value="{{ tutoria.descripcion }}">
                                    <button class="btn btn-primary btn-sm" type="submit">Generar Reporte</button>
                                  </form>
                                </td>                                
                            </tr>
                          
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            
              <!--Fin de table-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

