{% extends "Usuarios/HeaderAndFooterFachada.html" %}

{% block title %} Tutorias Coda {% endblock %}

{% block body %}
<!--Ver Tutorias-->
<section class="min-vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-12">
          <div class="card border-top border-bottom border-4" style="border-color: #F08200 !important;">
            <div class="card-body p-4">
              <h3 class="fw-bold mb-4 text-primary">Tutorias dadas por: {{tutor.first_name}} {{tutor.last_name}}</h3>

              <div class="container">
                <form action="{% url 'generar_txt' tutor.pk %}" method="get">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="fecha_inicio" class="form-label">Fecha de inicio:</label>
                            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="fecha_fin" class="form-label">Fecha de fin:</label>
                            <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" />
                        </div>
                        <div class="col-md-4 mt-4">
                            <button type="submit" class="btn btn-primary btn-block">Generar PDF</button>
                        </div>
                    </div>
                </form>
              </div>
            
                  <!--Inicio de table-->
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Alumno</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Tema</th>
                                <th>Notas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tutoria in object_list %}
                            <tr data-alumno="{{ tutoria.alumno.first_name }} {{ tutoria.alumno.last_name }}">
                                <td>{{ tutoria.alumno.first_name }} {{ tutoria.alumno.last_name }}</td>
                                <td>{{ tutoria.fecha|date }}</td>
                                <td>{{ tutoria.fecha|date:"P" }}</td>
                                <td>{{ tutoria.get_tema_display}}</td>
                                <td>{{ tutoria.descripcion}}</td>                                
                            </tr>
                          
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            
              <!--Fin de table-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

