/* background.css */

/* Define el fondo blanco */
body {
    background-color: #ffffff; /* Color blanco */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000; /* Asegura que el texto sea legible en el fondo blanco */
}


/* Estilo para los círculos animados */
.circles {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2; /* Asegura que los círculos estén detrás de la imagen */
    pointer-events: none;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    /* Agrega más etapas de animación si es necesario */
}

